* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee
}

nav {
  width: 100%;
  height: 100px;
  background: #fff;
}

ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  float: left;
  line-height: 100px;
}

ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #1e1e1e;
  padding: 0 20px;
  display: block;
}

ul li a:hover {
  color: red;
}